<!DOCTYPE html>
<html lang="en" class="">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home</title>
        <script src="https://cdn.tailwindcss.com"></script>
        <link rel="stylesheet" href="./styling/style.css">
        <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
        <script     src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    </head>

</head>
<body class="bg-neutral-300 dark:bg-black dark:text-white text-black" >
    <div class="px-6">
        <nav class="flex items-center justify-between text-white mb-4 sticky">
            <div class="p-2 rounded-xl text-2xl flex items-center space-x-1 dark:bg-zinc-700 bg-white text-gray-400 shadow-lg" >
                <div>
                    <h3 class="text-2xl font-semibold text-black dark:text-white">Dashboard</h3>
                </div>
            </div>
            <!-- navbar -->
            <div class="p-2 rounded-xl text-2xl flex items-center space-x-1" >
                <div class="flex rounded-xl items-center space-x mr-3 p-2 px-4 bg-white dark:bg-zinc-700 text-gray-600 dark:text-gray-300 shadow-lg" >
                    <ul class="flex items-center space-x-4">
                        <a href="dashboard.php" class=" hover:font-bold dark:hover:text-white"><li>Dashboard</li></a>
                        <a href="voting.php" class=" hover:font-bold dark:hover:text-white"><li>Voting</li></a>
                        <a href="#" class=" hover:font-bold dark:hover:text-white"><li>Result</li></a>
                        <!-- <a href="#"><li>points</li></a> -->
                        <a href="#" class=" hover:font-bold dark:hover:text-white"><li>Library</li></a>
                        <a href="#" class=" hover:font-bold dark:hover:text-white"><li>Assignments</li></a>
                    </ul>
                </div>
                    <div>
                        <img class="rounded-full w-9 h-9 border-1 border-white" src="../Assets/logo.png" alt="dp">
                    </div>
                    <div>
                        <h3 class="text-2xl dark:text-blue-400 text-blue-500 font-semibold">Arusha <span class="dark:text-yellow-200 text-yellow-500">Science</span></h3>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</html>