<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sidebar</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <aside class="bg-black w-1/6 h-screen">
        <div class="flex flex-col">
            <img class="rounded-full w-20 h-20 border-1 border-white" src="../Assets/logo.png" alt="school logo" >
            <P class="text-white ">Arusha</P>
            <P class="text-white ">Science</P>
        </div>

    </aside>
</body>
</html>